body{
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Montserrat', sans-serif;
}

main{
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #2E545C;
}

/*menú (posible menú futuro)*/

.candado{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
}

/*div izquierdo: ingresar*/

.ingresar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    isolation: isolate;

    position: absolute;
    width: 460px;
    height: 830px;
    left: 150px;
    top: 97px;

    background: #D9D9D9;
    border-radius: 60px;
}

/*items del div*/

    /*items superiores*/

textarea{
    position: absolute;
    width: 421px;
    height: 738px;
    left: 19px;
    top: 24px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    resize: none;
    border: none;
    background: #D9D9D9;

    color: #000000;
}

textarea:focus{
    outline: none;
}

    /*items inferiores*/

.exclamacion{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 41px;
    top: 773px;
}

.alert{
    position: absolute;
    width: 245px;
    height: 14px;
    left: 70px;
    top: 774px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;

    color: #000000;
}

/*botones centrales*/

.boton{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    font-weight: bold;
    font-size: 26px;

    background: #FE8180;
    border-radius: 8px;
    border-color: #FE8180;

    z-index: 1;
}

.boton:hover{
    background: #E37373;
    /* drop-shadow_REG_NEW */
    text-decoration-line: underline;
    box-shadow: 0px 24px 32px -12px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
}

.boton:active{
    background: #ED6868;
}

#encriptar{
    width: auto;
    height: 40px;
    left: 668px;
    top: 428px;
}

#desencriptar{
    width: auto;
    height: 40px;
    left: 646px;
    top: 492px;
}



/*div derecho: resultado*/

.resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 42px;
    isolation: isolate;

    position: absolute;
    width: 460px;
    height: 830px;
    left: 864px;
    top: 97px;

    background: #D9D9D9;
    border-radius: 60px;
    
    z-index: 0;
}

/*Si no se encuentra ningún mensaje:*/

.texto-vacio{
    width: 360px;
    height: 173px;
}

.no-msg{
    position: absolute;
    width: 360px;
    height: 81px;
    left: 50px;
    top: 501.5px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;

    color: #000000;
}

.no-msg-descripcion{
    position: absolute;
    width: 355px;
    height: 78px;
    left: 53px;
    top: 596.5px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}
