body{
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    background-color: #2E545C;
}

main{
    margin: 0 auto;
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #2E545C;
}

/*menú (posible menú futuro)*/

.candado{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
}

/*div izquierdo: ingresar*/

.ingresar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    isolation: isolate;

    position: absolute;
    width: 460px;
    height: 830px;
    left: 150px;
    top: 97px;

    background: #D9D9D9;
    border-radius: 60px;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.25);
}

/*items del div*/

    /*items superiores*/

textarea{
    position: absolute;
    width: 421px;
    height: 738px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    resize: none;
    border: none;
    background: #D9D9D9;

    color: #000000;
}

textarea:focus{
    outline: none;
}

#ingresar-texto{
    left: 19px;
    top: 24px;
}

#resultado{
    position: absolute;
    left: 19px;
    top: 24px;
    z-index: 2;
    display: none;
}

    /*items inferiores*/

.exclamacion{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 41px;
    top: 773px;
}

.alert{
    position: absolute;
    width: 245px;
    height: 14px;
    left: 70px;
    top: 774px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;

    color: #000000;
}

/*botones centrales*/

.botones-principales{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 228px;
    height: 104px;
    left: 633px;
    top: 428px;
}

.boton{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    font-weight: bold;
    font-size: 26px;

    background: #FE8180;
    border-radius: 8px;
    border-color: #FE8180;

    z-index: 1;
}

.boton:hover{
    background: #E37373;
    /* drop-shadow_REG_NEW */
    text-decoration-line: underline;
    box-shadow: 0px 24px 32px -12px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
    cursor: pointer;
}

.boton:active{
    background: #ED6868;
}

#encriptar{
    width: auto;
    height: 40px;
    margin: 0 auto;
}

#desencriptar{
    width: auto;
    height: 40px;
    top: 50px;
    margin: o auto;
}



/*div derecho: resultado*/

.resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 42px;
    isolation: isolate;

    position: absolute;
    width: 460px;
    height: 830px;
    left: 864px;
    top: 97px;

    background: #D9D9D9;
    border-radius: 60px;
    
    z-index: 0;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.25);
}

/*Si no se encuentra ningún mensaje:*/

.texto-vacio{
    width: 360px;
    height: 173px;
}

.no-msg{
    position: absolute;
    width: 360px;
    height: 81px;
    left: 50px;
    top: 501.5px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;

    color: #000000;
}

.no-msg-descripcion{
    position: absolute;
    width: 355px;
    height: 78px;
    left: 53px;
    top: 596.5px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}

/*botón de copiar*/

.boton2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 4px;

    position: absolute;
    

    /* White */

    background: #FFFFFF;
    border-radius: 8px;
    border: none;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;

    /*button text*/
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 20px;
    /* identical to box height, or 77% */


    color: #ED6868;
}

.boton2:hover{
    text-decoration: underline;
    /* drop-shadow_REG_NEW */
    transform: scale(1.1);
    box-shadow: 0px 24px 32px -12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

#copiar{
    width: 119px;
    height: 40px;
    left: 171px;
    top: 755px;
    display: none;
}

@media screen and (max-width: 912px) {
    main{
        width: auto;
        height: auto;
        padding: 64px;
        align-items: center;
    }

    .candado{
        display: inline-block;
    }

    /*div de la izquierda*/
    .ingresar{
        display: block;
        left: auto;
        top: auto;
        display: flex;
        width: fill;
        height: 676px;
        z-index: 1;
    }

        /*contenido del div de la izquierda*/

    /*configuracion general de los textarea*/

    textarea{
        position: relative;
        height: 566px;
    }

    .exclamacion{
        position: absolute;
        left: 42px;
        top: 630px;
    }

    .alert{
        position: absolute;
        left: 71px;
        top: 631px;
    }

    /*Botones centrales*/

    .botones-principales{
        display: block;
        align-items: center;
        position: absolute;
        left: 25%;
        top: 800px;
        z-index: 1;
    }

    /*div de la izquierda*/

    .resultado{
        position: relative;
        display: block;
        align-items: center;
        height: 260px;
        width: fill;

        left: auto;
        top: 870px;

        justify-content: center;
        z-index: 1;
    }

    .muneco{
        display: none;
    }

    .texto-vacio{
        margin: 0 auto;
        text-align: center;
        width: fill;
        justify-content: center;
    }

    .no-msg{
        position: absolute;
        text-align: center;
        width: auto;
        top: 30%;

    }

    .no-msg-descripcion{
        position: absolute;
        text-align: center;
        width: inherit;
        top: 50%;
    }

    #resultado{
        height: 190px;

    }

    #copiar{
        top: 230px;
    }
}